/**
 * BHHT Datascape Client Stylesheet
 * =================================
 *
 * Main SASS stylesheet for the client application.
 */

/**
 * Overriding variables.
 */

/**
 * Own variables.
 */

/**
 * Loading libraries.
 */
@import '~bulma';

/**
 * Components.
 */
.top-list {
  height: 300px;
  overflow-y: scroll;
  border: 1px solid black;
}
