/**
 * BHHT Datascape Client Stylesheet
 * =================================
 *
 * Main SASS stylesheet for the client application.
 */

/**
 * Overriding variables.
 */

/**
 * Own variables.
 */

/**
 * Loading libraries.
 */
@import '~bulma';
@import '~react-select/dist/react-select.css';
@import './react-autosuggest.css';

/**
 * Preventing selection on viz.
 */
svg {
  user-select: none;
}

/**
 * Components.
 */
.link {
  color: black;
}

.world-map {
  height: 400px;
}

.leaflet-map-pane {
  z-index: auto !important;
}

/**
 * Views.
 */
#macro-view {

  .value-selector {
    color: white;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;

    &.muted {
      color: inherit;
    }
  }

  .top-list {
    padding: 5px;
    height: 300px;
    overflow-y: scroll;
    // border: 1px solid black;

    .top-list-item {
      border: 1px solid black;
      padding: 5px;
      margin-bottom: 5px;
    }
  }
}
