/**
 * BHHT Datascape Client Stylesheet
 * =================================
 *
 * Main SASS stylesheet for the client application.
 */

/**
 * Overriding variables.
 */

/**
 * Own variables.
 */

/**
 * Loading libraries.
 */
@import '~bulma';
@import './react-autosuggest.css';

/**
 * Preventing selection on viz.
 */
svg {
  user-select: none;
}

/**
 * Components.
 */
.top-list {
  height: 300px;
  overflow-y: scroll;
  border: 1px solid black;
}

.link {
  color: black;
}

.world-map {
  height: 400px;
}

.leaflet-map-pane {
  z-index: auto !important;
}
