@charset "utf-8";
@import "~bulma/sass/utilities/initial-variables.sass";

$background: #fcf3d9;
// $background: white;
$body-background-color: $background;
$navbar-background-color: $background;
$text: $black;

$family-sans-serif: Merriweather, sans-serif;

@import "~bulma/bulma.sass";
@import "./rc-slider.css";
